* {
	box-sizing: border-box;
}
html {
	margin: 0;
	padding: 0;
}
body {
	background: hsl(35,30%,85%);
	font-family: arial;
	font-size: 24px;
	color: hsl(30,30%,15%);
}
.panel-title {
	border-top: solid 3px hsl(220,20%,75%);
	background: hsl(0,0%,95%);
	box-shadow: 0 2px 3px hsla(0,0%,0%,0.3);
	padding: 8px;
	margin: 20px auto;
	width: 800px;
}
.row {
	white-space: nowrap;
}
.row > * {
	display: inline-block;
	vertical-align:top;
	white-space:normal;
	margin-right: 40px;
}
.row > :last-child {
	margin-right: 0;
}
h6 {
	margin:8px 0;
	padding-bottom: 4px;
	border-bottom: dotted 1px hsl(30,30%,30%);
}

.panel-body {
	width: 790px;
	margin: 20px auto;
}
article {
	margin: 100px auto;
}
.sentence {
	display:block;
	padding: 0;
	border-radius:2px;
	margin-bottom: 4px;
}
.date {
	float:right;
	color: hsl(35,40%,70%);
	display:block;
}
i {
	white-space: nowrap;
	font-style: normal;
	color: hsl(150,40%,50%);
}
.row {
	margin: 10px 0;
}
.row > * {
	display:inline-block;
	vertical-align:top;
}
ul {
	margin:0;
	margin-right: 20px;
	padding:0;
	padding-left: 20px;
}
.node-classes {
	background:hsl(0,0%,0%);
	color:hsl(0,0%,80%);
	box-shadow: 0 2px 3px 1px hsla(0,0%,0%,0.3);
	font-family:arial;
	font-size:12px;
	padding: 0 8px;
	display:inline-block;
	vertical-align:top;
	height: 20px;
	line-height:20px;
	position:relative;
	margin-left: -8px;
	width: 80px;
}
.node-classes:after {
	content:'';
	width:0;
	height:0;
	border-left:solid 4px transparent;
	border-top:solid 4px hsl(0,0%,0%);
	position:absolute;
	top:0px;
	left:-4px;
}
.node-classes:before {
	content:'.';
}
.node.has-node-id,
.node.has-node-classes {
	margin-right: 6px;
}
.node-id {
	background:hsl(0,0%,0%);
	color:hsl(0,0%,80%);
	box-shadow: 0 2px 3px 1px hsla(0,0%,0%,0.3);
	font-family:arial;
	font-size:12px;
	padding: 0 8px;
	display:inline-block;
	vertical-align:top;
	height: 20px;
	line-height:20px;
	margin-left: -8px;
	position:relative;
	width: 80px;
}
.node-id:before {
	content:'#';
}
.node-id:after {
	content:'';
	width:0;
	height:0;
	border-left:solid 4px transparent;
	border-top:solid 4px hsl(0,0%,0%);
	position:absolute;
	top:0px;
	left:-4px;
}
.node-children[data-node-type="seq"] {
	border: solid 2px hsl(35,50%,50%);
	border-top:0;
	min-width:20px;
	min-height:20px;
	border-radius: 0 0 4px 4px;
}
.node-children > .node {
	margin-bottom: 4px;
}
.node-children > .node:last-child {
	margin-bottom: 0;
}
.node-children[data-node-type="seq"] {
	overflow: scroll;
}
.node-children[data-node-type="seq"] > .node {
	margin-top: 8px;
}
.node-children {
	margin-right: 12px;
	display:inline-block;
	vertical-align:top;
}
.node {
	display:inline-block;
	vertical-align:top;
}
.node-children > .node {
	display:block;
}
.node[data-node-type="atom"]:focus {
	background:hsla(200,80%,50%,0.4);
}
.node[data-node-type="atom"] {
	margin-right: 4px;
	background:transparent;
	outline:0;
	border:0;
	color: hsl(30,30%,20%);
	padding:0 2px;
	min-width: 20px;
	text-align:center;
	height:20px;
	line-height:20px;
	font-family:arial;
}
.node[data-node-type="atom"]:last-child {
	margin-right: 0;
}
.node.meta-class-triplets > .node-children > .node > .node-children > .node {
	display:inline-block;
}
.node-children[data-node-type="seq"] > .node[data-node-type="seq"] {
	margin-left: 12px;
}
.node-children[data-node-type="seq"] > .node[data-node-type="seq"] {
	margin-bottom: 12px;
}
.node[data-node-type="expr"] {
	border-radius: 4px;
	border-left: solid 2px hsl(30,30%,75%);
}
.node-children[data-node-type="expr"] {
	border-radius: 4px;
	border-right: solid 2px hsl(30,30%,75%);
}
.node-apply[data-node-type="atom"] {
	text-align:left;
}
button.node {
	font-size: 18px;
}
#hello {
	position:fixed;
	top:15px;
	left:15px;
	color: hsl(35,40%,60%);
}

